# /etc/systemd/system/zswap-config.service
[Unit]
Description=Configure zswap
DefaultDependencies=no
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'echo 1 > /sys/module/zswap/parameters/enabled'
ExecStart=/bin/bash -c 'echo lz4 > /sys/module/zswap/parameters/compressor'
ExecStart=/bin/bash -c 'echo 25 > /sys/module/zswap/parameters/max_pool_percent'
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
